<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>chatAnyBody</title>
</head>
<body>
    <header>
        <div id="MainHeading">
            <h1>Let's | chatAnyBody</h1>
        </div>
    </header>
    <section id="MainChatArea">
        <!-- show who join the chat -->
        <aside id="leftside">

        </aside>
        <!-- show what is chating  -->
        <aside id="rightside">

        </aside>
    </section>
    <footer>
        <div id="mainfooter">
            <h5>copyRight &copy; 2021 - Naseem Khan</h5>
        </div>
    </footer>
    
</body>
</html> 