*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

/* header  */
#MainHeading{
    text-align: center;
    margin-top: 1rem;
    padding: 0.6rem 0;
    background: red;
    color: white;
    font-family: monospace;
}

/* chat area section */
#MainChatArea{
    width: 100vw;
    height: 70vh;
    background-color: teal;

}

/* footer */
#mainfooter{
    background: black;
    color: white;
    font-family: monospace;
    font-size: large;
    padding: .4rem 1rem;
}
